<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="form-horizontal m-t">
						<div class="form-group">
							<label class="col-sm-2 control-label">名称：</label>
							<div class="col-sm-2">
							<input id="searchName" type="text" class="form-control" placeholder="名称">
							</div>
							<label class="col-sm-2 control-label">分类：</label>
							<div class="col-sm-2">
								<select  id="searchType"  name="searchType" class="form-control">
								</select>
							</div>

						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">挂起状态：</label>
							<div class="col-sm-2">
								<select  id="searchState"  name="searchState" class="form-control">
									<option value="" selected="selected">全部</option>
									<option value="1">激活</option>
									<option value="2">挂起</option>
								</select>
							</div>
							<div style="float: right;margin-right: 18px;">
								<button type="button" class="btn btn-sm btn-primary " onclick="reLoad();">查询</button>
							</div>
						</div>
					</div>
						<table id="exampleTable" data-mobile-responsive="true">
						</table>
				</div>
			</div>
		</div>
	</div>
	<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
				var s_resetPwd_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="system:reProcdef:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="system:reProcdef:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
		<div shiro:hasPermission="system:reProcdef:resetPwd">
			<script type="text/javascript">
				var s_resetPwd_h = '';
			</script>
		</div>
	</div>
	<div id="viewImg" style="display: none">
		<img id="img1" src="">
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/appjs/flowable/reProcdef/reProcdef.js"></script>
</body>
</html>