<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
						<div class="columns pull-left">
							<script src="/js/appjs/oa/webSocket/sockjs.min.js"></script>
							<script type="text/javascript">
							    function add(rule) {
							    	alert(rule);
							    	var sock = new SockJS('/ruleChat');  
							    	sock.onopen = function() {
							    	    console.log('open');
							    	};
							    	sock.onmessage = function(e) {
							    	    console.log('message', e.data);
							    	};
							    	sock.onclose = function() {
							    	    console.log('close');
							    	};
							    	sock.send(rule);
							    	sock.close();
							    }
							</script>
							<button  type="button" class="btn  btn-primary" onclick="add(1)">
								<i class="fa fa-plus" aria-hidden="true"></i>流程1
							</button>
							
							<button  type="button" class="btn  btn-primary" onclick="add(2)">
								<i class="fa fa-plus" aria-hidden="true"></i>流程2
							</button>
							
							<button  type="button" class="btn  btn-primary" onclick="add(3)">
								<i class="fa fa-plus" aria-hidden="true"></i>流程3
							</button>
							
							<button  type="button" class="btn  btn-primary" onclick="add(4)">
								<i class="fa fa-plus" aria-hidden="true"></i>流程4
							</button>
							
							<button  type="button" class="btn  btn-primary" onclick="add(5)">
								<i class="fa fa-plus" aria-hidden="true"></i>流程5
							</button>
							
							
						</div>
					
					</div>
					<table id="exampleTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>

		
	</div>
	<div th:include="include :: footer"></div>
</body>
</html>