<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">用户名：</label>
                            <div class="col-sm-8">
                                <input id="user_name" name="user_name" class="form-control" type="text">
                                <input id="formKey" name="formKey" class="form-control" type="hidden" th:value="${formKey}">
                                <input id="processDefinitionKey" name="processDefinitionKey" class="form-control" type="hidden" th:value="${processDefinitionKey}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">密码：</label>
                            <div class="col-sm-8">
                                <input id="password" name="password" class="form-control" type="password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">邮箱：</label>
                            <div class="col-sm-8">
                                <input id="email" name="email" class="form-control" type="email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">手机：</label>
                            <div class="col-sm-8">
                                <input id="phone" name="phone" class="form-control" type="tel">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">归属公司：</label>
                            <div class="col-sm-8">
                                <input id="conmpany" name="conmpany" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button onclick="save()" class="btn btn-primary">启动</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/flowable/form/form_leave.js">
</script>
</body>
</html>
