
<div ng-controller="FlowableProcessHistoryLevelCtrl">
    <!--<select ng-model="property.value" ng-change="historyLevelChanged()">-->
    	<!--<option></option>-->
    	<!--<option>leave</option>-->
    	<!--<option>2</option>-->
    	<!--<option>3</option>-->
    	<!--<option>4</option>-->
    <!--</select>-->
	<select ng-model="property.value" ng-change="historyLevelChanged()" ng-options="category.code as (category.name + ' (' + category.code + ')') for category in categoryTree">
	</select>
</div>